section p {
  text-align: justify;
}

/* Cor de fundo da barra do logo / nome do projeto */
.wy-side-nav-search {
  background-color: #f6e4d1 !important;
  /* escolha sua cor */
}

/* Ajustar cor do texto do nome do projeto para contraste */
.wy-side-nav-search>a {
  color: #76140c !important;
}



/* fundo da barra onde fica o logo / nome do projeto */
div.wy-side-nav-search {
  background-color: #f6e4d1 !important;
}

/* texto do nome do projeto */
div.wy-side-nav-search>a {
  color: #76140c !important;
}

/* se houver logo, garantir que o fundo do link não sobrescreva */
div.wy-side-nav-search a img {
  background: transparent !important;
}


/** Set Mermaid Diagrams to 100% width of screen by default */
.mermaid svg {
  max-width: 100%;
  height: auto;
}