section p {
  text-align: justify;
}

/* Cor de fundo da barra do logo / nome do projeto */
.wy-side-nav-search {
  background-color: #f6e4d1 !important;
  /* escolha sua cor */
}

/* Ajustar cor do texto do nome do projeto para contraste */
.wy-side-nav-search>a {
  color: #76140c !important;
}



/* fundo da barra onde fica o logo / nome do projeto */
div.wy-side-nav-search {
  background-color: #f6e4d1 !important;
}

/* texto do nome do projeto */
div.wy-side-nav-search>a {
  color: #76140c !important;
}

/* se houver logo, garantir que o fundo do link não sobrescreva */
div.wy-side-nav-search a img {
  background: transparent !important;
}


/** Set Mermaid Diagrams to 100% width of screen by default */

/* Remove caps and allow Mermaid SVG to really scale */
div.mermaid svg {
  width: 100% !important;
  height: auto !important;
  max-width: none !important;
  /* <- remove limite */
}

/* Big container for svg */
div.mermaid {
  width: min(1400px, 100%);
  margin: 0 auto 24px auto;
}


/* Controla a opacidade das setas (linhas e pontas) */
.mermaid .edgePath path {
  stroke-opacity: 0.45;
}

/* Controla a opacidade das pontas de seta */
.mermaid .edgePath marker path {
  fill-opacity: 0.45;
}